* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light style  */

:root {
  --primary-text-color: #111517;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --site-bg-color: #fafafa;
  --item-bg: #ffffff;
  --main-font-family: "Nunito Sans", sans-serif;
  --about-bg: #ffffff;
  --hover-color: rgb(0 0 0 / 0.4);
}

.whetMod {
  --primary-text-color: #111517;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --site-bg-color: #fafafa;
  --item-bg: #ffffff;
  --main-font-family: "Nunito Sans", sans-serif;
  --about-bg: #ffffff;
  --hover-color: rgb(0 0 0 / 0.4);
}

/* dark style  */

.dark-mode {
  --primary-text-color: #ffffff;
  --primary-white: #2b3844;
  --search-color: #ffffff;
  --primary-black: #ffffff;
  --site-bg-color: #202c36;
  --item-bg: #2b3844;
  --about-bg: #202c36;
  --hover-color: rgb(255 255 255 / 0.4);
}

/* body style  */
body {
  background: var(--site-bg-color);
}

/* style all  */

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* header style  */

header {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 23px 81px;
  color: var(--primary-black);
  background: var(--primary-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

/* test button  */
button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}
button span a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #fff;
}
button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

/* header text  */

header h2,
p {
  color: var(--primary-black);
}

.mooude {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

/* hero style  */

.hero {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 0px;
}

.search {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 450px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary-white);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.search img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-right: 5px;
}

.search input {
  background-color: var(--primary-white);
  border: none;
  outline: none;
  height: 20px;
  font-size: 18px;
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.select {
  outline: none;
  padding: 0px 10px;
  border: none;
  width: 200px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}
.select:hover {
  cursor: pointer;
  transform: scaleX(1.1);
}

/* creat main  */

#creatMain {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.colum img {
  width: 275px;
  height: 160px;
  flex-shrink: 0;
}
.colum {
  width: 275px;
  height: 356px;
  color: var(--primary-black);
  background: var(--primary-white);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  cursor: pointer;
}
.colum:hover {
  transform: scale(1.1);
}
.colum .tex {
  padding: 20px;
}
.colum .tex p {
  margin-bottom: 15px;
}

/* more info  */

.moreInfo {
  display: none;
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.img {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.img button {
  transition: all 0.5s;
  padding: 5px 20px;
  width: 100px;
  margin-bottom: 20px;
  color: white;
  background-color: var(--primary-white);
  border: none;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  cursor: pointer;
}
.img button:hover {
  transform: scaleX(1.1);
}
.img img {
  border-radius: 10px;
  width: 560px;
  height: 440px;
}

.cardText {
  display: flex;
  gap: 80px;
  align-items: center;
}
.leftTex p {
  width: 200px;
  margin-bottom: 20px;
}
.rightTex p {
  width: 200px;
  margin-bottom: 20px;
}

.regionAll {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.btn {
  color: white;
  transition: all 0.5s;
}
.btn:hover {
  transform: scaleX(1.1);
}

/* loader  */

.wheel-and-hamster {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
